.card {
    display: flex;
    width: max(200px, 20%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    cursor: pointer;
}

.cardImage {
    width: max(200px, 100%);
}

.card img {
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.articule {
    color: #c1c1c1;
}

.title {
    font-size: 1.2em;
    font-weight: 800;
    text-transform: capitalize;
}

.description {
    min-height: 120px;
    font-size: 1.1em;
}

.price {
    font-size: 1.5em;
    font-weight: 600;
}

.btn {
    border: 2px solid #000;
    padding: 8px;
    width: 50%;
    background-color: #fff;
    font-size: 1.5em;
    border-radius: 7px;
    margin-top: 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--hover-gray);
    color: #fff;
}

@media screen and (max-width: 1456px) {
    .btn {
        font-size: 1em;
    }
}

@media screen and (max-width: 795px) {
    .card {
        width: max(190px, 40%);
    }
}

@media screen and (max-width: 375px) {
    .card {
        width: 70%;
    }
}