.menu {
    width: 100%;
    background-color: var(--main-gray);
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    padding: 14px 12px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.item:hover {
    background-color: var(--hover-gray);
}