.menu {
    height: calc(100vh - 75px);
    background-color: var(--main-gray);
    /* width: 15%; */
    position: sticky;
    top: 74px;
    left: 0;
}

@media screen and (max-width: 795px) {
    .menu {
        overflow-y: auto;
    }
}