.header {
    width: 100%;
    background-color: var(--main-gray);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 15%), 1fr));
    gap: 15px;
    position: sticky;
    height: 74px;
    padding: 10px 0;
    top: 0;
}

.search {
    grid-column: span 2;
    width: 90%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.img {
    width: 110px;
    height: 50px;
    background-color: steelblue;
    border-radius: 30px;
}

.search input {
    background-image: url('../../../public/search-symbol.png');
    background-repeat: no-repeat;
    background-position-x: min(2%, 5%);
    background-position-y: center;
    padding: 15px;
    padding-left: 6%;
    background-color: var(--main-gray);
    border: 1px solid var(--hover-gray);
    border-radius: 7px;
    font-size: 1.2em;
    width: 100%;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2em;
    justify-self: left;
    padding-left: 12px;
}

.contacts a svg {
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    font-size: 1.1em;
}

@media screen and (max-width: 1560px) {
    .logo h1 {
        font-size: 1.5em;
    }

    .contacts {
        font-size: 1em;
    }

    .item {
        font-size: 1em;
    }

    .search {
        grid-column: span 1;
    }

    .search input {
        background-position-x: min(3%, 5%);
        padding-left: 13%;
        background-size: 8%;
    }
}

@media screen and (max-width: 1244px) {
    .header {
        grid-template-columns: repeat(auto-fit, minmax(max(190px, 15%), 1fr));
        gap: 12px;
    }

    .search input {
        padding: 10px;
        padding-left: 15%;
    }
}
@media screen and (max-width: 795px) {
    .menu, .contacts {
        display: none;
    }
}