.item {
    display: flex;
    gap: 15px;
    align-items: center;
}

.item img {
    width: 94px;
    flex: 1 1;
} 

.text {
    flex: 3 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    gap: 8px;
}

.count {
    flex: 1 1;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.count svg {
    cursor: pointer;
    transition: .3s;
}

.count svg:hover {
    color: var(--accent-color);
}

.totalPrice {
    flex: 1 1;
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (max-width: 795px) {
    .item {
        gap: 12px;
    }

    .item img {
        width: 64px;
    }

    .text {
        font-size: .8em;
        flex: 1 1;
    }

    .totalPrice {
        font-size: 1.1em;
    }
}